Source: foo-yc20
Section: sound
Priority: optional
Maintainer: Debian Multimedia Maintainers <pkg-multimedia-maintainers@lists.alioth.debian.org>
Uploaders:
 Adrian Knoth <adi@drcomp.erfurt.thur.de>,
 Alessio Treglia <alessio@debian.org>
Build-Depends:
 debhelper (>= 9),
 faust,
 libgtk2.0-dev,
 libjack-dev,
 lv2-dev
Homepage: http://code.google.com/p/foo-yc20/
Vcs-Git: git://git.debian.org/git/pkg-multimedia/foo-yc20.git
Vcs-Browser: http://git.debian.org/?p=pkg-multimedia/foo-yc20.git
Standards-Version: 3.9.5

Package: foo-yc20
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends}
Provides:
 lv2-plugin
Description: YC-20 organ emulation
 The YC-20 is a divide-down combo organ designed in the late 60's. This
 emulation faithfully copies the features, sounds and flaws of the original
 organ.
 .
 Features:
    - 61 keys
    - Two main voice sections
    - Switchable bass section
    - Generator + matrix mixer => no polyphony restrictions
    - A realism control to add flaws found in the real organ
 .
 Flaws:
    - Takes quite a bit of CPU power
    - No touch vibrato
 .
 The emulation is written in Faust and uses Jack for audio and MIDI.
